project_1/
*.xpr
*.cache/
*.hw/
*.ip_user_files/
*.runs/
*.sim/
*.srcs/
*.gen/
.Xil/
xsim.dir/
*.jou
*.log
*.str
*.pb
*.wdb
*.wcfg
*.vcd
webtalk*.jou
webtalk*.log
usage_statistics_webtalk*
Thumbs.db
desktop.ini
.vscode/
*.swp
*~
